body{
  background: gray;

  transform: translate(50%, 50%);

  .logo{
    background: url('../assests/logo.png') top center no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
  }
}

